<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Food Entry</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><button><a href="/dash/<%= user_id %>"">Dashboard</a></button></li>
                <% let addUrl = '/add/' %>
                <% let addStr = 'Add ' %>
                <% if(search_type === 'food') { %>
                    <% addUrl += user_id + '/exercise'; %>
                    <% addStr += 'Exercise'; %>
                <% } else if(search_type === 'exercise') { %>
                    <% addUrl += user_id + '/food' %>
                    <% addStr += 'Food'; %>
                <% } %>
                    <li><button><a href=<%= addUrl %>><%= addStr %></a></button></li>
            </ul>
        </nav>
    </header>
    <form action="/search" method="POST">
        <input type="text" name="query">
        <input type="hidden" name="search_type" value=<%= search_type %>>
        <input type="hidden" name="user_id" value=<%= user_id %>>
        <button type="submit">Search Nutritionix</button>
    </form>

    <form action="/custom" method="POST">
        <% let customType = ''; %>
        <% if(search_type === 'food') customType = 'new_food'; %>
        <% if(search_type === 'exercise') customType = 'new_exercise'; %>

        <input type="hidden" name="type" value=<%= customType %>>
        <input type="hidden" name="user_id" value=<%= user_id %>>
        <button type="submit">Create Custom Entry</button>
    </form>

    <h1>History:</h1>
        <section>
            <% if(search_type === 'food') { %>
                <% entries.forEach(entry => { %>
                    <div>
                        <img src=<%= entry.image_url %>>
                        <h2><%= entry.name %></h2>
                        <p>Calories: <%= entry.calories %></p>
                        <p>Protein: <%= entry.protein %></p>
                        <p>Fat: <%= entry.fat %></p>
                        <p>Carbs: <%= entry.carbs %></p>
                        <form action="/save" method="POST">
                            <input type="hidden" name="name" value=<%= entry.name %>>
                            <input type="hidden" name="calories" value=<%= entry.calories %>>
                            <input type="hidden" name="protein" value=<%= entry.protein %>>
                            <input type="hidden" name="fat" value=<%= entry.fat %>>
                            <input type="hidden" name="carbs" value=<%= entry.carbs %>>
                            <input type="hidden" name="image_url" value=<%= entry.image_url %>>
                            <input type="hidden" name="serving_size" value=<%= entry.serving_size %>>
                            <input type="hidden" name="serving_unit" value=<%= entry.serving_unit %>>
                            <input type="hidden" name="user_id" value=<%= user_id %>>
                            <input type="hidden" name="type" value="food">
                            <button type="submit">Add <%= entry.name %> From History</button>
                        </form>
                    </div>
                <% }) %>
            <% } else if(search_type === 'exercise') {%>
                <% entries.forEach(entry => { %>
                    <div>
                        <img src=<%= entry.image_url %>>
                        <h2><%= entry.name %></h2>
                        <p>Calories Burned: <%= entry.calories %></p>
                        <form action="/save" method="POST">
                            <input type="hidden" name="name" value=<%= entry.name %>>
                            <input type="hidden" name="calories" value=<%= entry.calories %>>
                            <input type="hidden" name="image_url" value=<%= entry.image_url %>>
                            <input type="hidden" name="user_id" value=<%= user_id %>>
                            <input type="hidden" name="type" value="exercise">
                            <button type="submit">Add <%= entry.name %> From History</button>
                        </form>
                    </div>
                <% }) %>
            <% } %>
        </section>

</body>
</html>