<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Food Entry</title>
</head>
<body>

    <form action="/search" method="POST">
        <input type="text" name="query">
        <input type="hidden" name="search_type" value=<%= search_type %>>
        <input type="hidden" name="user_id" value=<%= user_id %>>
        <button type="submit">Search Nutritionix</button>
    </form>

    <form action="/custom" method="POST">
        <input type="hidden" name="search_type" value=<%= search_type %>>
        <input type="hidden" name="user_id" value=<%= user_id %>>
        <button type="submit">Create Custom Entry</button>
    </form>

    <form action="">
        <div class="form">
        <div class="checkbox-container">
        <br>
        <label for="history">History:</label>
        <br>
        <br>
        <section>
            <% entries.forEach(entry => { %>
                <div>
                    <img src=<%= entry.image_url %>>
                    <h2> <%= entry.name %></h2>
                    <p>calories <%= entry.calories %></p>
                    <p>protein <%= entry.protein %></p>
                    <p>fat <%= entry.fat %></p>
                    <p>carbs <%= entry.carbs %></p>
                </div>
           <% }) %>
        </section>
        <br>
        <input type="submit" value="Submit">

        </div>
        </div>
    </form>
</body>
</html>