<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>Customize Entry</title>
  </head>
  <img src=<%= data.image_url %> alt=<%= data.name %>>
<body>
  <main>
      <header>
          <nav>
            <ul>
                <li><a href="/dash/<%= data.user_id %>"">Dashboard</a></li>
                <li><a href="/add/<%= data.user_id %>/food">Add Food</a></li>
                <li><a href="/add/<%= data.user_id %>/exercise">Add Exercise</a></li>
            </ul>
          </nav>
        </header>
    <% if(data.type === 'new_food'){ %>
      <!-- Blank Food Form -->
      <form action="/save" method="POST">
        
        <input type="hidden" name="user_id" value=<%= data.user_id %>>
        <input type="hidden" name="type" value="food">
        
        <label for="name">
          Name
          <input type="text" name="name" placeholder="Name"><br>
        </label>
        <label for="image_url">
          Image URL
          <input type="text" name="image_url" placeholder="Image URL"><br>
        </label>
        <label for="protein">
          Protein
          <input type="text" name="protein" placeholder="Protein"><br>
        </label>
        <label for="fat">
          Fat
          <input type="text" name="fat" placeholder="Fat"><br>
        </label>
        <label for="carbs">
          Carbs
          <input type="text" name="Carbs" placeholder="Carbs"><br>
        </label>
        <label for="serving_size">
          Serving Size
          <input type="text" name="serving_size" placeholder="Serving Size"><br>
        </label>
        <label for="serving_unit">
          Serving Unit
          <input type="text" name="serving_unit" placeholder="Serving Unit"><br>
        </label>
        
        <input type="submit" value="Submit">
  
      </form>

      <% } else if(data.type === 'food'){ %>
    
      <form action="/save" method="POST">

        <input type="hidden" name="user_id" value=<%= data.user_id %>>
        <input type="hidden" name="type" value="food">
        
        <img src=<%= data.image_url %> alt=<%= data.name %>>
        <br>
        <label for="name">
          Name
          <input type="text" name="name" placeholder="Name" value=<%= data.name %>><br>
        </label>
        <label for="image_url">
          Image URL
          <input type="text" name="image_url" placeholder="Image URL" value=<%= data.image_url %>><br>
        </label>
        <label for="protein">
          Protein
          <input type="text" name="protein" placeholder="Protein" value=<%= data.protein %>><br>
        </label>
        <label for="fat">
          Fat
          <input type="text" name="fat" placeholder="Fat" value=<%= data.fat %>><br>
        </label>
        <label for="carbs">
          Carbs
          <input type="text" name="carbs" placeholder="carbs" value=<%= data.carbs %>><br>
        </label>
        <label for="calories">
          calories
          <input type="text" name="calories" placeholder="calories" value=<%= data.calories %>><br>
        </label>
        <label for="serving_size">
          Serving Size
          <input type="text" name="serving_size" placeholder="Serving Size" value=<%= data.serving_size %>><br>
        </label>
        <label for="serving_unit">
          Serving Unit
          <input type="text" name="serving_unit" placeholder="Serving Unit" value=<%= data.serving_unit %>><br>
        </label>
        
        <button type="submit">Submit</button>

      </form>
    <% } else if(data.type === 'exercise'){ %>
      <form action="/save" method="POST">
        <input type="hidden" name="user_id" value=<%= data.user_id %>>
        <input type="hidden" name="type" value="exercise">

        <img src=<%= data.image_url %> alt=<%= data.name %>>
        
        <label for="name">
          Name
          <input type="text" name="name" placeholder="Name" value=<%= data.name %>><br>
        </label>
        <label for="image_url">
          Image URL
          <input type="text" name="image_url" placeholder="Image URL"value=<%= data.image_url %>><br>
        </label>
        <label for="calories">
          Calories
          <input type="text" name="calories" placeholder="Calories"value=<%= data.calories %>><br>
        </label>
        
        <input type="submit" value="Submit">
    <% } else if(data.type === 'new_exercise'){ %>
      <form action="/save" method="POST">
        
        <input type="hidden" name="user_id" value=<%= data.user_id %>>
        <input type="hidden" name="type" value="exercise">

        <label for="name">
          Name
          <input type="text" name="name" placeholder="Name"><br>
        </label>
        <label for="image_url">
          Image URL
          <input type="text" name="image_url" placeholder="Image URL"><br>
        </label>
        <label for="carbs">
          Calories
          <input type="text" name="calories" placeholder="Calories"><br>
        </label>
        
        <input type="submit" value="Submit">
    <% } %>
    
    <div id="messages">
      <% Object.keys(messages).forEach(function (type) { %>
        <ul class="<%= type %>">
        <% messages[type].forEach(function (message) { %>
          <li><%= message %></li>
        <% }) %>
        </ul>
      <% }) %>
      </div>
  </main>
</body>
</html>