<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <title>Customize Entry</title>
</head>
<body>
  <main>
    <header class="page-links">
      <nav role="navigation">
        <div id="menuToggle">
            <input type="checkbox" />
        <h1>MacTrack</h1>
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <li><a href="/dash/<%= data.user_id %>"><button>Dashboard</button></a></li>
          <li><a href="/add/<%= data.user_id %>/food"><button>Add Food</button></a></li>
          <li><a href="/add/<%= data.user_id %>/exercise" target="_blank"><button>Add Exercise</button></a></li>
        </ul>
      </div>
      </nav>
    </header>
    <% if(data.type === 'new_food'){ %>
      <!-- Blank Food Form -->
      <form action="/save" method="POST" class="custom">
        
        <input type="hidden" name="user_id" value=<%= data.user_id %>>
        <input type="hidden" name="type" value="food">
        
        <label for="name">
          Name:<br> 
          <input type="text" name="name" placeholder="Name"><br>
        </label>
        <label for="image_url">
          Image URL: <br>
          <input type="text" name="image_url" placeholder="Image URL"><br>
        </label>
        <label for="protein">
          Protein: <br>
          <input type="text" name="protein" placeholder="Protein"><br>
        </label>
        <label for="fat">
          Fat: <br>
          <input type="text" name="fat" placeholder="Fat"><br>
        </label>
        <label for="carbs">
          Carbs: <br>
          <input type="text" name="Carbs" placeholder="Carbs"><br>
        </label>
        <label for="serving_size">
          Serving Size: <br>
          <input type="text" name="serving_size" placeholder="Serving Size"><br>
        </label>
        <label for="serving_unit">
          Serving Unit: <br>
          <input type="text" name="serving_unit" placeholder="Serving Unit"><br>
        </label>
        
        <button class="btn" type="submit" value="Submit">Submit</button>
  
      </form>

    <% } else if(data.type === 'food'){ %>
     
      <form action="/save" method="POST" class="custom">

        <input type="hidden" name="user_id" value=<%= data.user_id %>>
        <input type="hidden" name="type" value="food">
        
        <img src=<%= data.image_url %> alt=<%= data.name %>>
        <br>
        <label for="name">
          Name: <br>
          <input type="text" name="name" placeholder="Name" value=<%= data.name %>><br>
        </label>
        <label for="image_url">
          Image URL:<br>
          <input type="text" name="image_url" placeholder="Image URL" value=<%= data.image_url %>><br>
        </label>
        <label for="protein">
          Protein: <br>
          <input type="text" name="protein" placeholder="Protein" value=<%= data.protein %>><br>
        </label>
        <label for="fat">
          Fat: <br>
          <input type="text" name="fat" placeholder="Fat" value=<%= data.fat %>><br>
        </label>
        <label for="carbs">
          Carbs: <br>
          <input type="text" name="carbs" placeholder="carbs" value=<%= data.carbs %>><br>
        </label>
        <label for="calories">
          Calories: <br>
          <input type="text" name="calories" placeholder="calories" value=<%= data.calories %>><br>
        </label>
        <label for="serving_size">
          Serving Size: <br>
          <input type="text" name="serving_size" placeholder="Serving Size" value=<%= data.serving_size %>><br>
        </label>
        <label for="serving_unit">
          Serving Unit: <br>
          <input type="text" name="serving_unit" placeholder="Serving Unit" value=<%= data.serving_unit %>><br>
        </label>
        
        <button type="submit">Submit</button>

      </form>
    <% } else if(data.type === 'exercise'){ %>
      <form action="/save" method="POST" class="custom">
        <input type="hidden" name="user_id" value=<%= data.user_id %>>
        <input type="hidden" name="type" value="exercise">

        <img src=<%= data.image_url %> alt=<%= data.name %>>
        <br>
        <label for="name">
            Name: <br>
            <input type="text" name="name" placeholder="Name" value=<%= data.name %>><br>
          </label>
        <label for="image_url">
          Image URL: <br>
          <input type="text" name="image_url" placeholder="Image URL"value=<%= data.image_url %>><br>
        </label>
        <label for="calories">
          Calories: <br>
          <input type="text" name="calories" placeholder="Calories"value=<%= data.calories %>><br>
        </label>
        
        <button type="submit" value="Submit">Submit</button>
    <% } else if(data.type === 'new_exercise'){ %>
      <form action="/save" method="POST" class="custom">
        
        <input type="hidden" name="user_id" value=<%= data.user_id %>>
        <input type="hidden" name="type" value="exercise">

        <label for="name">
            Name:<br> 
            <input type="text" name="name" placeholder="Name"><br>
          </label>
        <label for="image_url">
          Image URL: <br>
          <input type="text" name="image_url" placeholder="Image URL"><br>
        </label>
        <label for="carbs">
          Calories: <br>
          <input type="text" name="calories" placeholder="Calories"><br>
        </label>
        
        <button type="submit" value="Submit">Submit</button>
    <% } %>
  </main>

  <%- include('../partials/footer.ejs') %>

</body>
</html>

