<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
  <title>Mac-Track Dashboard</title>
</head>

<body>

  <header>
    <nav>
    </nav>
  </header>

    <div id="dashboard">
      <h2><%= date %></h2>
  
        <% food_entry.forEach (food => { %>
          <div id="addDash">
            <img src=<%= food.image_url %>>
            <h2> <%= food.name %> </h2>
            <p> Protein: <%= food.protein %> </p>
            <p> Fat: <%= food.fat %> </p>
            <p> Carbs: <%= food.carbs %> </p>
            <p> Calories: <%= food.calories %> </p>
            <form action="/delete/<%= user_id %>/<%= food.id %>/food_entry" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="delete">Delete Entry</button>
            </form>
          </div>
        <%}) %>
    
      <% exercise_entry.forEach (exercise => { %>
        <div id="addDash">
          <img src=<%= exercise.image_url %>>
          <h2> <%= exercise.name %> </h2>
          <p> Calories Burned: <%= exercise.calories %> </p>
          <form action="/delete/<%= user_id %>/<%= exercise.id %>/exercise" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="delete">Delete Entry</button>
          </form>
        </div>
      <% }) %>
    
    <form action="/add/<%= user_id %>/food">
      <button type="submit">Add Food</button>
    </form>
    
    <form action="/add/<%= user_id %>/exercise">
      <button type="submit">Add Exercise</button>
    </form>

    <button class="edit">Edit</button>
    
    <% include chart.html %>
  
    <div id="chartSize">
      <canvas id="myChart"></canvas>
      
      <script>
        // Targets Math
        <% var proteinPercent = 0; %>
        <% var fatPercent = 0; %>
        <% var carbPercent = 0; %>
        <% var caloriePercent = 0; %>
        <% food_entry.forEach (food => { %>
          <% proteinPercent += parseInt(food.protein); %>
          <% fatPercent += parseInt(food.fat); %>
          <% carbPercent += parseInt(food.carbs); %>
          <% caloriePercent += parseInt(food.calories); %>
        <% }) %>

        <% proteinPercent = Math.round((proteinPercent / macro_targets.protein) * 100); %>
        <% fatPercent = Math.round((fatPercent / macro_targets.fat) * 100); %>
        <% carbPercent = Math.round((carbPercent / macro_targets.carbs) * 100); %>
        <% caloriePercent = Math.round((caloriePercent / macro_targets.calories) * 100); %>

        <% let maxY = 100; %>
        <% if(proteinPercent > maxY) maxY = proteinPercent; %>
        <% if(fatPercent > maxY) maxY = fatPercent; %>
        <% if(carbPercent > maxY) maxY = carbPercent; %>
        <% if(caloriePercent > maxY) maxY = caloriePercent; %>

        // Chart Set Up
        var ctx = document.getElementById("myChart").getContext('2d');
        Chart.scaleService.updateScaleDefaults('linear', {
          ticks: {
            min: 0,
            max: <%= maxY %>
          }
        });
        

        var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ["Protein", "Fat", "Carbs", "Calories"],
            datasets: [{
              label: 'Nutrition',
              data: ["<%= proteinPercent %>", "<%= fatPercent %>", "<%= carbPercent %>", "<%= caloriePercent %>"],
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
              ],
              borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
              ],
              borderWidth: 1
              }]
            },
            options: {
                scales: {
                  xAxes: [{
                        stacked: true
                      }],
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });

      </script>
    </div>

  </div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
  $('.delete').hide();

  $('.edit').on('click', function() {
    $('.delete').toggle();
  });
</script>

</html>