<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>Mac-Track Dashboard</title>
  </head>
  <body>
  <header>
    <div class=""><!-- give this a class later for styling -->
      
    </div>
  </header>
  <div id="dashboard">
  <h2><% date %></h2>
  <table>
    <% food_entry.forEach (food => { %>
      <tr>
        <div id="addDash">
          <img src=<%= food.image_url %>>
          <td> <%= food.name %> </td>
          <td> 'Protein: '<%= food.protein %> </td>
          <td> 'Fat: '<%= food.fat %> </td>
          <td> 'Carbs: '<%= food.carbs %> </td>
          <td> 'Calories: '<%= food.calories %> </td>
        </div>
      </tr><br>
    </table> <%}) %>
    <form>
      <a href="../add/<%= user_id %>/food">ADD FOOD</a>
      <a href="../add/<%= user_id %>/exercise">ADD EXERCISE</a>
      <input type="submit" value="Edit" action="/dash" method="POST">
    </form>
    
    <% include chart.html %>
    
    <div id="chartSize">
      <canvas id="myChart"></canvas>
      
      <script>
        
        var ctx = document.getElementById("myChart").getContext('2d');
        
        var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ["Protein", "Fat", "Carbs", "Calories"],
            datasets: [{
              label: 'Nutrition',
              <% var tempPro = 0; %>
              <% var tempFat = 0; %>
              <% var tempCarb = 0; %>
              <% var tempCal = 0; %>
              <% food_entry.forEach (food => { %>
            data: ["<%= tempPro+= parseInt(food.protein) %>", "<%= tempFat+= parseInt(food.fat) %>", "<%= tempCarb+= parseInt(food.carbs) %>", "<%= tempCal+= parseInt(food.calories) %>"],
            <%}) %>
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
          xAxes: [{
                stacked: true
              }],
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

 </script>
 </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</html>