<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/modules.css">
    <title>Mac-Track Dashboard</title>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script> -->
  
  </head>
  <body>
  <div id="dashboard">
  <h2><% date %></h2>
  <table>
    <% food_entry.forEach (food => { %>
      <tr>
        <div id="addDash">
          <td> <%= food.image_url %> </td>
          <td> <%= food.name %> </td>
          <td> 'Protein:'<%= food.protein %> </td>
          <td> 'Fat:'<%= food.fat %> </td>
          <td> 'Carbs:'<%= food.carbs %> </td>
          <td> 'Calories:'<%= food.calories %> </td>
        </div>
      </tr><br>
    </table> <%}) %>
  <form>
    <a href="../add/<%= user_id %>/food">ADD FOOD</a>
    <input type="submit" value="Add Food" action="add/<%= user_id %>/food" method="GET">
    <input type="submit" value="Add Exercise" action="/dash" method="POST">
    <input type="submit" value="Edit" action="/dash" method="POST">
  </form>

  <% include chart.html %>

<div id="chartSize">
 <canvas id="myChart"></canvas>

 <script>

  var ctx = document.getElementById("myChart").getContext('2d');
 
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Protein", "Fat", "Carbs", "Calories"],
        datasets: [{
            label: 'Nutrition',
            <% food_entry.forEach (food => { %>
              <% var temp = 0; %>
            data: ["<%= temp+= food.protein %>", "<%= temp+= food.fat %>", "<%= temp+= food.carbs %>", "<%= temp+= food.calories %>"],
            <%}) %>
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

 </script>
 </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</html>