<!DOCTYPE html>
<html lang="en">
  <head>
      <link rel="stylesheet" href="/public/css/modules.css">
    <%- include('../partials/head.ejs') %>
    <title>Mac-Track Dashboard</title>
  </head>
  <body id="dash-body">
     
    <header>
      <nav>
        
      </nav>
    </header>
   
  <div id="dash-page">
    <div id="dash-table">
  <h2><%= date %></h2>
  
  <% food_entry.forEach (food => { %>
  <table>
    <img src=<%= food.image_url %>><br>
    <tr>
      <td> <%= food.name %> </td>
          <td> 'Protein: '<%= food.protein %> </td>
          <td> 'Fat: '<%= food.fat %> </td>
          <td> 'Carbs: '<%= food.carbs %> </td>
          <td> 'Calories: '<%= food.calories %> </td>
      </tr>
    </table> <%}) %>

    <form>
      <button><a href="../add/<%= user_id %>/food">ADD FOOD</a></button>
      <button><a href="../add/<%= user_id %>/exercise">ADD EXERCISE</a></button>
      <input type="submit" value="Edit" action="/dash" method="POST">

    <% exercise_entry.forEach (exercise => { %>
      <tr>
          <img src=<%= exercise.image_url %>>
          <td> <%= exercise.name %> </td>
          <td> 'Calories: '<%= exercise.calories %> </td>
      </tr><br>
    </table> <%}) %>

    <form action="/add/<%= user_id %>/food">
      <input type="hidden" name="user_id" value=<%= user_id %>>
      <button type="submit">Add Food</button>
    </form>

    <form action="/add/<%= user_id %>/exercise">
      <input type="hidden" name="user_id" value=<%= user_id %>>
      <button type="submit">Add Exercise</button>

    </form>
  </div> 
    <% include chart.html %>
<<<<<<< HEAD
  
    <div id="chartSize" style="width: 40%; height:40%">
=======
    
    <div id="chartSize">
>>>>>>> 0181b88b2c7d7948ecca79e193536f36c03992bc
      <canvas id="myChart"></canvas>
      
      <script>
        
        var ctx = document.getElementById("myChart").getContext('2d');
        
        var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ["Protein", "Fat", "Carbs", "Calories"],
            datasets: [{
              label: 'Nutrition',
              <% var tempPro = 0; %>
              <% var tempFat = 0; %>
              <% var tempCarb = 0; %>
              <% var tempCal = 0; %>
              <% food_entry.forEach (food => { %>
            data: ["<%= tempPro+= parseInt(food.protein) %>", "<%= tempFat+= parseInt(food.fat) %>", "<%= tempCarb+= parseInt(food.carbs) %>", "<%= tempCal+= parseInt(food.calories) %>"],
            <%}) %>
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
          xAxes: [{
                stacked: true
              }],
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
<<<<<<< HEAD
            }
        });
       
=======
            }]
        }
    }
});

>>>>>>> 0181b88b2c7d7948ecca79e193536f36c03992bc
 </script>
 </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</html>