<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mac-Track Dashboard</title>
</head>
<body>

  <h2><% date %></h2>
  <ul>
    <% food_entry.forEach (food => { %>
      <li>
        <div id="addDash">
          <h4> <%= food.image_url %> </h4>
          <h4> <%= food.name %> </h4>
          <h4> <%= food.protein %> </h4>
          <h4> <%= food.fat %> </h4>
          <h4> <%= food.carbs %> </h4>
          <h4> <%= food.calories %> </h4>
        </div>
      </li>
    </ul> <%}) %>
  <form>
    <a href="../add/<%= user_id %>/food">ADD FOOD</a>
    <input type="submit" value="Add Food" action="add/<%= user_id %>/food" method="GET">
    <input type="submit" value="Add Exercise" action="/dash" method="POST">
    <input type="submit" value="Edit" action="/dash" method="POST">
  </form>
 <canvas id="barChart" width="50" height="50"></canvas>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="./chart.js"></script>
</html>